/* style.css */

/* Estilos generales para el cuerpo y los contenedores */

body {
    background-image: url("{% static 'img/bg.png' %}");
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
}
